{{>layouts/header}}
<div class="card" style="width: 30rem;">
    {{#detail}}
        <div class="card-body">
            <p class="card-text">id : {{id}}</p>
            <p class="card-text">병원명 : {{hospitalName}}</p>
            <p class="card-text">도로명 주소 : {{roadNameAddress}}</p>
            <p class="card-text">입원실 수 : {{patientRoomCount}}</p>
            <p class="card-text">병상 수 : {{totalNumberOfBeds}}</p>
            <p class="card-text">총 면적 : {{totalAreaSize}}</p>
            <a href="/hospitals/new" class="card-link">new Hospital</a>
            <a href="/hospitals" class="card-link">Hospital List</a>
        </div>
    </div>
    <a href="/hospitals/{{id}}/edit" class="btn btn-primary">Edit</a>
    <a href="/hospitals/{{id}}/delete" class="btn btn-danger">Delete</a>
    {{/detail}}
{{>layouts/footer}}